.container{
display: flex;
flex-direction: column;
height: 100vh;
}

.header{
flex: 20%;
background-color: blue;
background: url("images/unnamed.png") center;
aspect-ratio: 6/1;
}

.menu{
flex: 5%;
background-color: gray;
display: flex;
align-items: center;
color: black;
}

.menu a{
padding: 15px 20px;
color: red;
}

.menu a:hover{
background-color: darkgray;
color: black;
}

.content{
flex: 70%;
background-color: white;
}

.content iframe{
flex: 1;
border:none;
width:100%;
height:100%;
}

.footer{
flex: 5%;
background-color: lightgray;
}

h1 {
  color: blue;
  text-margin:30pt;
  vertical-align: top;
}

.tieude{
color:red;
font-family:Arial;
top-margin: 20pt;
font-size: 20pt;
font-weight:bold;
}

.noidung{
color:black;
font-style:normal;
margin-top:6pt;
font-size: 13pt;
}





